* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
   line-height: 1.5;
 
}


/* nav bar */
.btn {
 background-color: #469165;
 border: none;
 padding: 12px 16px;
 border-radius: 5px;
 font-size: 18px;
 font-weight: bold;
 color: white;

}

.btn:hover {
  background-color: #469165;
  transform: translateY(-3px); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
}

.btn-nav {
    color: white;

}
.menu {
  color: black;
}

.navbar {
    max-width: 1600px;
    margin: auto;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
   
} 

.logo {
  width: 139px;
  height: 60px;
}

a {
      text-decoration: none;
  }

.nav-links {
  display: flex;
  gap: 20px;
  font-size: 16px;
  
}


/* banner */
.hero {
  background-image: url(./images/hero-bg.png) ;
  background-repeat: no-repeat;
   max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
}

.hero-inner {

  max-width: 1360px;
  margin: auto;
  
  text-align: center;

}


.pill {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  background: white;
  border-radius: 100px; 
  border: 1px solid #d1fae5;
  color: #059669;
  font-size: 14px;
  font-weight: 600;
  margin: 20px;
} 

.dot {
  width: 10px;
  height: 10px;
  background: #22c55e;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #dcfce7;
}
.hero h1 {
  color: white;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #30B868;
}

.hero p {
  color: #e5e7eb;
  margin-bottom: 20px;
  font-size: 18px;
  max-width: 800px;
}

.hero-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btn-1 {
  background:  #469165;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.btn-2 {
  border: 1px solid white;
  background: transparent;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  
}

.btn-2:hover {
   background-color: #469165;
 border: none;
 padding: 12px 16px;
 border-radius: 5px;
 font-size: 18px;
 font-weight: bold;
 color: white;
  transform: translateY(-3px); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
}

.btn-2 span {
  padding-top: 10px;
}
.sbtn {
  color: white;
}


/* notes */

section {
  padding: 80px 25px;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.section-title {
  text-align: center;

  margin-bottom: 50px;
}
.section-title h2 {
  font-size: 48px;
  font-weight: bold;

}

.section-title p {
  color: rgb(80, 80, 80);
  font-size: 18px;
}

.grid {
  display: flex;
  gap: 32px;
}

.card {
  background: white;
  border-radius: 10px;
  width: 320px;
  height: 300px;
  padding: 25px;
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgb(233, 233, 233);
  
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #F95555;
  display: grid;
  place-items: center;
  margin: 20px auto 20px;
}


.card h3 {
  font-size: 24px;
  font-weight: bold;
}

.card p {
  font-size: 16px;
  color: #363636;
}




/* solution */

.split {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1460px;

  margin: auto;
}


.knowledge {
  width: 600px;
  height: 600px;
  background-color: white;
  background-repeat: no-repeat;
  align-items: center;
  
}

.solution {
  max-width:650px;
  margin-left: 60px;
   
}

.solution h3 {
  color: #469165;
  font-size: 16px;
  margin-bottom: 10px;
}

.solution h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.2;
}

.solution p {
  color: rgb(122, 122, 122);
  margin-bottom: 40px;
  max-width: 500px;
}

.split span {
    text-align: left;
    padding-right: 10px;
    margin: 0;
}

.checklist p {

  position: relative;
  display: flex;

  margin-bottom: 0;
  color: black;
}



/* challenge */

.container {
  max-width: 1600px;
  margin: auto;
  padding: 80px;
}

.challenge {
  background: #F7F6F2;
  text-align: center;
  border-radius: 20px;
  padding: 80px 40px;
  max-width: 1360px;
  align-items: center;
}
.challenge h2 {
  font-size: 40px;
  margin-bottom: 16px;
  font-weight: bold;
}
.challenge p {
  font-size: 16px;
  margin-bottom: 24px;
  color: #7c7c7c;
}

.challenge-note {
  font-size: 16px;
  margin-top: 16px;
}




/* footer */


footer {
  background: #001931;
  color: #cbd5e1;
  padding: 120px 120px 30px 120px;
  max-width: 1600px;
  align-items: center;
  justify-content: space-between;
  margin: auto;

}

.footer-inner {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-logo {
  width: 140px;
  height: 60px;
}
.social-icon {
    width: 20px;
    height: 20px;
    
}

.socials p {
  font-size: 20px;
}

.socials img {
  margin: 16px 16px 0 0;  
}

.divider {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgb(63, 66, 112);
  margin-top: 30px ;
}


.copyright {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #94a3b8;
}
