* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
 
}


/* nav bar */
.btn {
 background-color: #469165;
 border: none;
 padding: 12px 16px;
 border-radius: 5px;
 font-size: 18px;
 font-weight: bold;
 color: white;

}

.btn-nav {
    color: white;

}

.navbar {
    max-width: 1600px;
    margin: auto;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
   
} 

.logo {
  width: 139px;
  height: 60px;
}

a {
      text-decoration: none;
      color: black;
}

.nav-links {
  display: flex;
  gap: 20px;
  font-size: 16px;
  color: black;
}


/* banner */
.hero {
  background-image: url(./images/hero-bg.png) ;
  background-repeat: no-repeat;
   max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
}

.hero-inner {
  max-width: 1360px;
  margin: auto;
  padding: 100px;
  text-align: center;
}


.pill {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  background: white;
 border-radius: 100px; 
  border: 1px solid #d1fae5;
  color: #059669;
  font-size: 14px;
  font-weight: 600;
  margin: 20px;
} 

.dot {
  width: 10px;
  height: 10px;
  background: #22c55e;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #dcfce7;
}
.hero h1 {
  color: white;
  font-size: 80px;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #30B868;
}

.hero p {
  color: #e5e7eb;
  margin-bottom: 20px;
  font-size: 18px;
  max-width: 800px;
}

.hero-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btn-1 {
  background:  #469165;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.btn-2 {
  border: 1px solid white;
  background: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: white;
   display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  
}

